{% extends 'base.html' %}

{% block content %}
<div class="app-detail">

  <div class="row">
    <div class="col-md-2">
        <a href="{{ application.url }}">
          {% include 'apps/_logo_thumb.html' with logo=application.logo %}
        </a>
    </div>
    <div class="col-md-10">
      <h1><a class="unstyled-link" href="{{ application.url }}">{{ application.title }}</a></h1>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">
        {{ application.description|safe }}
    </div>
  </div>

  <div id="chart_div" style="width: 100%; height: 300px;"></div>
  <p style="text-align: center;">Downtime {{ application.get_downtime_minutes }} minutes over the past month.</p>

  {% if comparisons %}
  <div class="comparisons">
  <h4>Comparisons</h4>
  <ul>
  {% for item in comparisons %}
    <li>
        <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
    </li>
  {% endfor %}
  </ul>
  </div>
  {% endif %}

</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date');
      data.addColumn('number', 'Response time');
      data.addColumn({type: 'string', role: 'tooltip'});
      data.addRows({{ pingdom_probes|safe }});

      var options = {
        title: 'Response Time',
        hAxis: {title: '',  titleTextStyle: {color: '#333'}, showTextEvery: 24},
        vAxis: {minValue: 0},
        pointSize: {{ point_size }},
        legend: {position: 'none'}
      };

      var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
</script>
{% endblock %}