{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load admin_urls %}

{% block title %}
Find tool
{{ block.super }}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/find-tool.css' %}" />
{% endblock %}

{% block bodyclass %}find-tool change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' 'apps' %}">Apps</a>
&rsaquo; <a href="{% url 'admin:apps_application_changelist' %}">Applications</a>
&rsaquo; Find tool
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form>{% block form_top %}{% endblock %}
        <p>The results marked in green indicate that the application of the same name already exists in the database.</p>
        <fieldset class="module aligned">
            <div class="form-row" style="overflow: visible;">
                <div class="field-box">
                    <label for="{{ form.application.id_for_label }}" class="required">{% trans 'Application' %}:</label>
                    {{ form.application }}
                </div>
                <div class="field-box">
                    <input type="submit" value="Search">
                </div>
                <div class="clear"></div>
            </div>
        </fieldset>
    </form>

    {% if results %}
    {% for word, app_list in results.items %}
    <table>
        <caption>{{ word }}</caption>
        <tbody>
        {% for name, exists in app_list %}
            <tr>
                <td class="{{ exists|yesno:'exists,' }}">{{ name }}</td>
                <td class="button-container">
                {% with button_title="Create app" %}
                {% if not exists %}
                    <a href="{% url 'admin:apps_application_add' %}?category={{ category.pk }}&title={{ name|capfirst }}&slug={{ name|slugify }}" target="_blank"><input type="button" value="{{ button_title }}" /></a></td>
                {% else %}
                    <input type="button" disabled="disabled" value="{{ button_title }}" />
                {% endif %}
                {% endwith %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td clospan="2">No results</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}