{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load admin_urls %}

{% block title %}
Find tool
{{ block.super }}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/find-tool.css' %}" />
{% endblock %}

{% block bodyclass %}find-tool change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' 'apps' %}">Apps</a>
&rsaquo; <a href="{% url 'admin:apps_application_changelist' %}">Applications</a>
&rsaquo; Find tool
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form>{% block form_top %}{% endblock %}
        <p>The results marked in green indicate that the application of the same name already exists in the database. Crossed out results mean that the application is exists in DB but disabled. You can create the comparison only if both application are already created and enabled.</p>
        <fieldset class="module aligned">
            <div class="form-row">
                <div>
                    <label for="{{ form.application.id_for_label }}" class="required">{{ form.application.label }}:</label>
                    {{ form.application }}
                </div>
            </div>
            <div class="form-row">
                <div>
                    {{ form.google_search }}
                    <label class="vCheckboxLabel" for="{{ form.google_search.id_for_label }}">{{ form.google_search.label }}</label>
                </div>
            </div>
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="Search" class="default">
        </div>
    </form>

    {% if results %}
    {% for word, results_tuple in results.items %}
    <table>
        <caption>{{ word }}</caption>
        <tbody>
        {% for title, app, comparison in results_tuple.0 %}
            <tr>
                <td class="{{ app|yesno:'exists,' }}{% if not app.enabled %} disabled{% endif %}">{{ title }}</td>
                <td class="button-container">
                {% with button_title="Create app" %}
                {% if not app %}
                    <a href="{% url 'admin:apps_application_add' %}?category={{ application.category_id }}&title={{ title|capfirst }}&slug={{ title|slugify }}" target="_blank"><input type="button" value="{{ button_title }}" /></a></td>
                {% else %}
                    <input type="button" disabled="disabled" value="{{ button_title }}" />
                {% endif %}
                {% endwith %}
                </td>
                <td class="button-container">
                {% with button_title="Create comparison" %}
                {% if app and app.enabled and application.enabled and not comparison %}
                    <a href="{% url 'admin:comparisons_comparison_add' %}?applications={{ application.pk }},{{ app.pk }}" target="_blank"><input type="button" value="{{ button_title }}" /></a></td>
                {% elif not comparison %}
                    <input type="button" disabled="disabled" value="{{ button_title }}" />
                {% else %}
                    <a href="{{ comparison.get_absolute_url }}">Comparioson exists</a>
                {% endif %}
                {% endwith %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>No results</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% with google_search=results_tuple.1 %}
    {% if google_search %}
        <div class="google-search-results">
        <strong>Google search results:</strong><br /><br />
        {% for r in google_search.responseData.results %}
            <a href="{{ r.url }}">{{ r.titleNoFormatting }}</a><br />
        {% empty %}
            {% if google_search.responseStatus == 200 %}
                No google search results.
            {% elif google_search.responseStatus == 403 %}
                It seems like limit the frequency of requests reached. You should wait couple of minutes and try again.
            {% else %}
                Something went wrong.
            {% endif %}

            {% if google_search.responseStatus != 200 %}
                <br /><br /><i>Server response details:</i><br />
                {{ google_search.responseDetails }}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <div class="clear"></div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}