{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<div class="apps-overview">
{% for category in featured_categories %}
  <h3>{{ category.title }}</h3>
  <hr />
  <div class="row">
    {% for app in category.application_set.all|slice:':4' %}
    <div class="col-md-3 col-sm-6 col-xs-12">
      <a class="item hidden-link" href="{{ app.get_absolute_url }}">
        {% include 'apps/_logo_thumb.html' with logo=app.logo %}
        <h4>{{ app.title }}</h4>
      </a>
    </div>
    {% endfor %}
  </div>
  <a class="pull-right no-decoration" href="{{ category.get_absolute_url }}">View All</a>
{% endfor %}
</div>
{% endblock %}
