{% extends 'base.html' %}
{% load thumbnail %}

{% block sidebar %}
<ul class="nav nav-pills nav-stacked">
{% for item in comparisons %}
  <li{% if item == comparison %} class="active"{% endif %}>
    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
  </li>
{% endfor %}
</ul>
{% endblock %}

{% block content %}
<div class="comparison-detail">
  <ul class="list-unstyled">
  {% for app in comparison.applications.enabled %}
    <li>
        <a class="unstyled-link" href="{{ app.get_absolute_url }}">
            {% thumbnail app.logo '50x50' crop="center" format='PNG' as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
            {% endthumbnail %}
            <span>{{ app.title }}</span>
        </a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}