.find-tool table {
    margin-top: 10px;
    min-width: 33%;
    float: left;
}
.find-tool table td {
    vertical-align: middle;
}
.find-tool table td.exists {
    color: green;
}
.find-tool table td.exists.disabled {
    text-decoration: line-through;
}
.find-tool table caption {
    text-align: left;
    font-weight: bold;
}
.find-tool td.button-container {
    width: 1px;
    white-space: nowrap;
    text-align: center;
}
.find-tool td input {
    margin: 0;
}
.find-tool td a input {
    cursor: pointer;
}
.find-tool input.exists {
    color: green;
}
.find-tool .google-search-results {
    float: left;
    margin-top: 28px;
    margin-left: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}