.apps-overview .item {
    display: block;
    text-align: center;
    border: 1px solid #eee;
    padding-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.app-detail h1 {
    margin: 0;
    line-height: 100px;
    font-weight: bold;
}

a.more:hover {
    text-decoration: none;
}

.unstyled-link,
.unstyled-link:hover {
   color: inherit;
   text-decoration: none;
}

.comparisons {
    margin-top: 40px;
}
.comparison-detail li {
    margin-bottom: 5px;
}
.comparison-detail li span {
    padding-left: 10px;
}